* {
    margin: 0;
    padding:0;
    text-align: center;
    background-color: darkgrey;
}
body{
    background-color: #bcbc;
}
h1{
    background-color: #081b31;
    color: white;
    height: 3rem;
    line-height: 3rem;
    display: inline;
}
.cards{
   display:flex;
}
.card1{
    background-color: cornflowerblue;
    border-radius: 15px;
    box-shadow: 3px 3px 6px grey;
    width: fit-content;
    height: auto;
    overflow: hidden;
    padding-bottom: 3rem;    
}
.card1:hover{
    box-shadow: 12px 10px 4px rgb(85, 85, 85);
    cursor: pointer;
}


.choice{
    height: 90px;
    width: 90px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    cursor: pointer;
    background-color: black;
    
}
img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 4rem;
}

#user-score,
 #comp-score{
    font-size: 2rem;
}
.msg-container{
    margin-top: 3rem;
}

#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
@media(max-width:800px){
    .productCards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 50%;
        margin-top: 25px;
    }

}
